@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  background-color: white;
}

#main {
  background-color: #0f1c2e; /* Change to the desired background color */
  height: 175vh;
}
