.solarpanel {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.round-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 50px;
  padding: 15px;
  width: 90%;
  height: 80px;
  margin: 0 auto;
  background-color: #3d5a80;
  border: 1px solid #acc2ef;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: center;
}

.round-box-text {
  text-align: center;
  margin: 0 5px; /* Add margin to separate the elements */
  color: #acc2ef;
}

.round-box-text-bold {
  font-weight: bold;
  font-size: 18px;
  color: white;
}

/* Additional styling for better alignment */
.round-box-text-bold:nth-child(odd) {
  margin-left: 5px;
}

.round-box-text-bold:nth-child(even) {
  margin-right: 5px;
}

.round-box-text1 {
  text-align: center;
  margin: 0 5px; /* Add margin to separate the elements */
  color: #acc2ef;
  margin-right: 15px;
}

.round-box-text2 {
  text-align: center;
  margin: 0 5px; /* Add margin to separate the elements */
  color: #acc2ef;
  margin-left: 15px;
}

.round-box-text-bold1 {
  font-weight: bold;
  font-size: 18px;
  color: white;
  margin-left: 15px;
  margin-right: 15px;
}

.middle-section {
  display: flex;
  flex: 2;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
}

.middle-left-section {
  background-color: #1f2b3e;
  flex: 3;
  text-align: center;
  color: #fff;
  padding-right: 10px;
  margin-right: 10px;
  border-radius: 15px;
}

.Charging-content {
  font-size: 15px;
  display: flex;
  flex-direction: row; /* Horizontal layout for left and right sections */
  align-items: center;
  justify-content: center;
  height: 100%;
}

.solar-condition {
  font-size: 25px; /* Adjust the font size as needed */
  font-weight: 700; /* Adjust the font weight as needed */
  color: #ffffff; /* Adjust the text color as needed */
  font-family: "Sans-serif", "Arial";
  margin: 25px;
  margin-bottom: 20px;
}

.left-section {
  flex: 1; /* Left section is wider */
}

.right-section {
  flex: 2; /* Right section is narrower */
  display: flex;
  flex-direction: column; /* Vertical layout for right-section-inner */
  justify-content: space-between; /* Space items evenly within right-section-inner */
  text-align: left;
}

.right-section-inner {
  flex: 1;
  display: flex;
  flex-direction: column; /* Vertical layout for section titles and content */
}

.battery-icon {
  width: 60px;
  height: 120px;
  background: #ddd;
  position: relative;
  border: 1px solid #999;
  border-radius: 5px;
  margin-left: 3rem;
}

.battery-level {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: #333;
}

.battery-body {
  position: relative;
  width: 100%;
  height: 95%;
  margin: 3px 0;
  background: #fff;
}

.battery-charge {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #4caf50;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: height 0.3s ease-in-out;
}

.section-title1 {
  text-align: left; /* Align the text to the left */
  font-size: 20px; /* Adjust the font size as needed */
  font-weight: 600; /* Adjust the font weight as needed */
  color: #ffffff; /* Adjust the text color as needed */
  margin-bottom: 3px; /* Add some spacing below the titles */
  font-family: "Sans-serif", "Arial";
  margin-top: 15px;
}

.section-title2 {
  text-align: left; /* Align the text to the left */
  font-size: 20px; /* Adjust the font size as needed */
  font-weight: 600; /* Adjust the font weight as needed */
  color: #ffffff; /* Adjust the text color as needed */
  margin-bottom: 3px; /* Add some spacing below the titles */
  font-family: "Sans-serif", "Arial";
  margin-top: 15px;
  display: flex;
}

.section-title2 p {
  margin-left: 10px;
  margin-top: 5px;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Sans-serif", "Arial";
}
.section-content {
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-left: 20px;
  height: 100%;
  color: #ffffff;
}

.middle-right-section {
  background-color: #1f2b3e;
  flex: 4;
  text-align: center;
  line-height: 100px;
  color: #fff;
  padding-left: 10px;
  margin-left: 10px;
  border-radius: 15px;
}

.performance-analysis {
  font-size: 25px; /* Adjust the font size as needed */
  font-weight: 700; /* Adjust the font weight as needed */
  color: #ffffff; /* Adjust the text color as needed */
  font-family: "Sans-serif", "Arial";
  margin-left: 25px;
  margin-bottom: 20px;
  margin-right: 25px;
}

.bottom-section {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
}

.bottom-left-section {
  background-color: #1f2b3e;
  flex: 3;
  text-align: center;
  line-height: 100px;
  color: #fff;
  padding-right: 10px;
  margin-right: 10px;
  border-radius: 15px;
}

.bottom-right-section {
  background-color: #1f2b3e;
  flex: 4;
  text-align: center;
  line-height: 100px;
  color: #fff;
  padding-left: 10px;
  margin-left: 10px;
  border-radius: 15px;
}

.solar-title {
  text-align: left; /* Align the text to the left */
  font-size: 25px; /* Adjust the font size as needed */
  font-weight: 700; /* Adjust the font weight as needed */
  color: #ffffff; /* Adjust the text color as needed */
  margin-bottom: 25px; /* Add some spacing below the titles */
  font-family: "Sans-serif", "Arial";
  margin-left: 25px;
  height: 50px;
}
.weather-forecast {
  padding: 10px;
  margin: 10px;
  align-items: center;
}
